In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Exploratory data analysis

In [55]:
import os
while 'notebooks' in os.getcwd():
    os.chdir("..")

import numpy as np
import pandas as pd 
from src.path_reader import BASE_PATH_TRAIN, BASE_PATH_TEST
from tqdm import tqdm
import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from src.utils import preprocess_data

In [56]:
os.listdir(BASE_PATH_TEST)

['GermanyGhana32.csv',
 'GermanySerbia2010.csv',
 'GreeceIvoryCoast44.csv',
 'NetherlandsMexico64.csv']

In [61]:
df = pd.read_csv(os.path.join(BASE_PATH_TEST, "NetherlandsMexico64.csv"))
df = preprocess_data(df)

df

,ID,MatchID,PeriodID,Timestamp,Tweet
0,15_0,15,0,1404057289000,I feel like shit >.< but gonna watch the game ...
1,15_0,15,0,1404057289000,As much as I like Herrera and Ochoa (because h...
5,15_0,15,0,1404057289000,It's nice to see the underdog win sometimes so...
6,15_0,15,0,1404057289000,"Micheladas, modelos, tecates, and tequila for ..."
9,15_0,15,0,1404057289000,Any bets on today's #FIFA game? I bid #Netherl...
...,...,...,...,...,...
628682,15_125,15,125,1404064800000,How come Ireland never makes it into the #Worl...
628690,15_125,15,125,1404064800000,#MEX what a team ! #Ochoa World Cup goal keeper !
628691,15_125,15,125,1404064800000,Harsh on Mexico though! #MEX
628693,15_125,15,125,1404064800000,Dutch deserve to be in last 8.Keep their nerve...
628695,15_125,15,125,1404064800000,"Hold your head high Mexico, played beautifully..."

In [ ]:
df.groupby(["MatchID", "PeriodID"]).EventType.mean().value_counts(normalize=True)

EventType
1.0    0.569231
0.0    0.430769
Name: proportion, dtype: float64

In [44]:
df.groupby(["MatchID", "PeriodID"]).EventType.mean().value_counts(normalize=False)

EventType
0.0    74
1.0    56
Name: count, dtype: int64